.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.header-container h1 {
    color: antiquewhite;
}

.apps-menu-btn {
    width: 50px;
    height: 50px;
    background-image: url("../img/apps-menu-btn.png");
    background-repeat: no-repeat;
    background-size: 50px auto; /* to specify dimensions explicitly */
}