.home-page {
    margin-top: 100px;
    text-align: center;
}

.home-page h1, .home-page a{
    color: antiquewhite;
}

.home-page h1 {
    font-size: 4em;
}

.home-page a {
    font-size: 2em;
}

.home-page a:hover {
    text-decoration: underline;
    color: rgba(194,31,91,1);
}
