
/* Components CSS */
@import './app-header.css';
@import './about-page.css';
@import './home-page.css';
@import 'notes-app/notes-app.css';
@import 'notes-app/notes-filter.css';
@import 'notes-app/notes-list.css';
@import 'notes-app/note-details.css';

/* =============================================== */
/* =============================================== */
/* ================== CSS Reset ================== */
/* =============================================== */
/* =============================================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a, button {
    text-decoration: none;
}

button {
    background-size: 100%;
}

button:focus {
    outline:0;
}

button, li {
    cursor: pointer;
}

body, html{
    width: 100%;
}

body, html, button {
    background-color: black;
}

h1{
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1d2124;
}

input {
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
/* =============================================== */
/* =============================================== */
/* =================== Appsus ==================== */
/* =============================================== */
/* =============================================== */
.appsus {
    width: 100%;
}

.appsus-header {
    box-shadow: 0 0 30px rgb(163, 66, 197);
    background-color: black;
    width: 100%;
}

.appsus-selected-app {
    margin: 33px 50px 0;;
    padding: 8px;
    background-color: black;
    box-shadow: 0 0 15px rgb(163, 66, 197);
    /*position: fixed;*/

}

/*TODO - For responsive view add a query when mobile .app-container {margin: 0 5px;}*/

/* =============================================== */
/* =============================================== */
/* =================== Helpers =================== */
/* =============================================== */
/* =============================================== */
.flex-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


