
/* Components CSS */
@import './app-header.css';
@import './about-page.css';
@import './home-page.css';
@import './app-notes/book-app.css';
@import './app-notes/book-filter.css';
@import './app-notes/book-list.css';
@import './app-notes/book-details.css';

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.app-container {
    margin: 0 20px;
    padding: 8px;
    background-color: #1d2124;
}


