@import '../main.css';

.controllers-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
}

.notes-filter {
    display: block;
}

.notes-filter input {
    background-color: var(--app-outer-bg-color);
    width: 350px;
    font-size: 1.2em;
}

.notes-new {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.notes-new button {
    width: 3em;
    height: 3em;
    background-repeat: round;
    background-size: 2em auto;
    position: relative;
}

.new-txt-note-btn {
     background-image: url("../../img/txt-note.png");
}

.new-checklist-note-btn {
    background-image: url("../../img/checklist-note.png");
}

.new-img-note-btn{
    background-image: url("../../img/img-note.png");
}