@import '../main.css';

.note-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--notes-default-bg-color);
    margin: 15px;
    min-width: 400px;
    min-height: 550px;
    border-radius: 5px;
}

.buttons-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.back-to-list-btn {
    width: 10em;
    height: 1.5em;
    font-size: 1.5em;
}

.controllers-container button {
    width: 3em;
    height: 3em;
    background-repeat: round;
    background-size: 2em auto;
}

.color-pallete-btn {
    background-image: url("../../img/color-pallete.png");
}

.pin-note-btn-pinned{
    background-image: url("../../img/pinned-note.png");
}

.pin-note-btn-unpinned{
    background-image: url("../../img/unpinned-note.png");
}

.delete-btn {
    background-image: url("../../img/delete-note.png");
}

.textarea-h3, .textarea-h4 {
    word-wrap: break-word
}

.textarea-h3 {
    text-align: center;
    margin: 3px;
    font-size: 30px;
}

.textarea-h4 {
    text-align: start;
    margin: 2px;
    font-size: 20px;
    min-height: 400px;
}

.note-details img {
    width: 350px;
    margin: 3px auto;
}

.note-color-blue   {background-color: var(--note-bg-color-blue)}
.note-color-purple {background-color: var(--note-bg-color-purple)}
.note-color-green  {background-color: var(--note-bg-color-green)}
.note-color-grey   {background-color: var(--note-bg-color-grey)}
.note-color-yellow {background-color: var(--note-bg-color-yellow)}
.note-color-brown  {background-color: var(--note-bg-color-brown)}












