.note-details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: antiquewhite;
    margin: 15px;
    min-width: 600px;
}

.note-details button {
    max-width: 250px;
    height: 40px;
    color: antiquewhite;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: inset 0 0 30px rgb(163, 66, 197);
}

.note-details button:hover {
    border: 3px solid #1d2124;
}

.note-details h3, .note-details h4, .note-details input {
    text-align: center;
    /*overflow-wrap: break-word;*/
    word-wrap: break-word
}

.note-details h3, .inputH3 {
    margin: 3px;
    font-size: 30px;
}

.note-details h4, .inputH4 {
    margin: 2px;
    font-size: 20px;
}

.note-details img {
    width: 350px;
    margin: 3px auto;
}
